<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KoerselsLog.Properties.Settings.KLPConnectionString"
            connectionString="Data Source=DUMMYSERVERONE;Initial Catalog=KLP;Persist Security Info=True;User ID=Test;Password=kat123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>